<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Rock-Paper-Scissors</title>

    <link rel="stylesheet" href="rpsStyle.css">

    <script src="../src/rps.js"></script>
    <script src="../lib/jqueryLib.js"></script>
    <script src="../src/jqueryInterface.js"></script>
  </head>
  <body>
    <h1>Let's play rock, paper, scissors!</h1>
    <h2>Take your pick:</h2>
    <div>
      <button id="rock" ><img src='https://outdoordesignbylucas.files.wordpress.com/2011/01/1-10-11-charcter-rocks.jpg'></button>
      <button id="paper" ><img src='https://thumbs.dreamstime.com/z/white-lined-paper-push-nail-clipping-path-1710822.jpg'> </button>
      <button id="scissors" ><img src='https://www.hobbycraft.co.uk/supplyimages/573849_1000_1_800.jpg'></button>
    </div>
    <p id="player-choice">You chose:</p>
    <p>The computer chose:</p>
    <h2 id="outcome"></h2>
  </body>

</html>
